[2019-06-14 03:16] chanan opened #1 "polished.net IMixins.Normalize() produces an error"

[2019-06-25 16:42] chanan commented on #1
In prod mode, errors will be ignored

[2019-06-25 16:42] #1 closed

[2019-07-01 19:42] alexandrereyes opened #2 "Doesn't work on server side Blazor"
Steps do reproduce:
1) Create a new server side blazor project (template from vs 16.2 preview)
2) On ConfigureServices, add the di:
[code]
when you try to run the project:
InvalidOperationException: Cannot consume scoped service 'Microsoft.JSInterop.IJSRuntime' from singleton 'BlazorStyled.Internal.StyledJsInterop'.

[2019-07-01 20:09] chanan commented on #2
I haven't tried server side blazor apps at all yet. Looking into it now

[2019-07-01 20:11] alexandrereyes commented on #2
In my opinion, server side blazor should be the main focus on the community, since it'll be release in next September.
Client side blazor will release only in 2020.

[2019-07-01 20:45] chanan commented on #2
Checked the docs and I dont see a mention about it, asking in the Gitter room

[2019-07-01 20:55] alexandrereyes commented on #2
https://medium.com/capgemini-dynamics-365-team/future-of-net-net-5-microsoft-build-2019-from-a-net-developer-point-of-view-7a1158fb0691

Client side Blazor will be release probably in September 2020, with .net framework 5

[2019-07-01 21:19] chanan commented on #2
First problem is fixed.

Facing new problem now, the js file is not being sent from the library to the server side app.

[2019-07-01 21:24] alexandrereyes commented on #2
Try this link https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-6/
Find for static files

[2019-07-01 21:48] chanan commented on #2
On the right track, yes. I was still using the older content folder which strangely still worked for CSB apps. Still have something not quite right as it is not finding `_content\BlazorStyled\styled.js`

[2019-07-01 22:47] chanan commented on #2
Thanks to help from the nice folks on Gitter, got a blank library, CSB, and SSB project all working. Should be able to get a new build out tonight or early tomorrow morning

[2019-07-02 14:51] chanan commented on #2
This now works. Will make a build soon and update the docs for SSB differences. Which needs to work like this:

[code]

[2019-07-02 15:27] chanan commented on #2
Fixed!

I am going to open a new issue to look into ways to pre render more stuff on the server and send it down to the client, not 100% sure its possible, but something to think about.

[2019-07-02 15:27] #2 closed

[2019-07-02 15:29] chanan opened #3 "Look into ways to pre-render styles in SSB"
Right now, SSB works like this:

[code]

While this works, it will cause a small flicker on the browser side because the plain html will be rendered first then "enhanced" with the css.

Is there a way the all the styles can be "pre-rendered" and set down with the html?

[2019-07-02 16:02] chanan opened #4 "Add label property"
Emotion has the concept of label, which is basically a string that a user can append to the css class to help debug.

[2019-07-05 13:05] chanan commented on #4
Sadly, this is not straight forward. The current IStyled looks like this:

[code]

Which means I cant simply add:

[code]

This issue will either require a breaking change or something like:

[code]

[2019-07-05 14:39] chanan commented on #4
I decided to go with the option of:

[code]

[2019-07-05 14:48] chanan opened #5 "Add StyledException"
Removed the Console.Error.WriteLine and replace with a specific StyledException that includes the context

[2019-07-05 16:14] chanan commented on #4
Added the ability to append a name to the class name by sending a label property in the css:

[code]

Released in 1.0.0-preview6-05

[2019-07-05 16:14] #4 closed

[2019-07-05 17:51] chanan opened #6 "BlazorStyled can be registered twice"
If BlazorStyled is registered with isDevelopement = true, and also BlazorPrettyCode is registered with isDevelopment = false, BlazorStyled gets added with isDevelopment = false.

[2019-07-05 17:55] chanan commented on #6
Fixed in 1.0.0-preview6-05

[2019-07-05 18:18] chanan commented on #5
Added in 1.0.0-preview6-05

[2019-07-05 18:18] #5 closed

[2019-07-11 14:44] chanan opened #7 "Add "id" to to the style tag"
defaults to "BlazorStyled"

otherwise use an id supplied to by the end user

[2019-07-11 14:47] chanan opened #8 "Helper to generate many styles at once"
[code]

[2019-07-11 20:56] chanan commented on #7
On second thought, I dont think this is needed at this time

[2019-07-11 20:56] #7 closed

[2019-07-11 21:39] chanan commented on #8
1.0.0-preview6-05

[2019-07-11 21:49] #8 closed

[2019-07-14 00:17] topanoe opened #9 "Demo site documentation update for Server Side Blazor"
For Server Side Blazor, the install documentation needs to be updated from add:
`services.AddBlazorPrettyCode();`
to:
`services.AddBlazorStyled();`

[2019-07-14 13:12] chanan commented on #9
The page: https://chanan.github.io/BlazorStyled/install has been updated. Thanks for finding that.

If you end up using BlazorStyled, please let me know how it goes!

[2019-07-14 13:12] #9 closed

[2019-07-17 03:01] chanan opened #10 "element CSS should allow duplicate entries"

[2019-07-17 03:37] #10 closed

[2019-07-17 15:26] chanan opened #11 "Adding selectors with multiple html elements will not work more than once"
Selectors such as `ol li` or `ol > li` will only be added once

[2019-07-18 13:26] chanan opened #12 "Add ClearStyles()"
Sometimes its useful to be able to clear all styles like when switching themes

[2019-07-18 23:21] chanan opened #13 "Add a way to set media queries on html elements"
Currently the only way to do a media on an html element only using the "emotion" style syntax, which means you can't do a media query like this:

(pseudo code)
[code]

[2019-07-18 23:57] chanan commented on #12
Done

[2019-07-18 23:57] #12 closed

[2019-07-19 01:05] #13 closed

[2019-07-21 13:58] chanan opened #14 "Empty selector gets added at the top"
It doesnt really hurt anything, but it shouldnt be there.

[code]

[2019-07-21 14:30] chanan opened #15 "Add support for inserting google fonts into the head"
Add support for adding google font the way BlazorTypography handles them

[2019-07-21 15:22] chanan commented on #14
Fixed

[2019-07-21 15:22] #14 closed

[2019-07-21 16:08] chanan commented on #15
Done

[2019-07-21 16:08] #15 closed

[2019-07-21 16:47] chanan commented on #6
I still see this in BlazorTypography

[2019-07-21 17:53] chanan opened #16 "Two project using BlazorStyled will over write each other's styles"
Often this is not actually a problem, the problem only occurs if one library (such BlazorTypography) call `ClearStyles()`

[2019-07-25 14:32] chanan opened #17 "Remove javascript (insertRule) and use native blazor to update the styles"
As pointed out in Gitter by SQL-MisterMagoo - if the JS is removed and the style tag is placed in the body then instead of using insertRule everything can be done without any JS.

This will be slightly slower when many styles change at once such as on BlazorTypography when switching themes, but the benefit is that there will be no JS needed in the project

See examples:

* CSB: https://github.com/

[2019-07-25 14:35] SQL-MisterMagoo commented on #17
Performance of inserting styles is definitely something I haven't measured.

[2019-07-26 13:59] chanan commented on #17
Got CSB working, SSB is being a pita

[2019-07-26 14:23] SQL-MisterMagoo commented on #17
Are you just rendering a component in both cases?

[2019-07-26 14:25] chanan commented on #17
Yes but one is causing the other to update, still investigating exactly what the problem is

[2019-07-26 14:45] chanan commented on #17
Found the problem, looks like a bug in Blazor which I will report.

If I do this:

[code]

Where `TempStyle` is:

[code]

Then I get:

[code]

And in the DOM:

[code]

Moving the `style` tag into `TempStyle` fixes the problem

[2019-07-26 15:03] chanan commented on #17
Created issues:

SSB Bug: https://github.com/aspnet/AspNetCore/issues/12611

CSB Feature request: https://github.com/aspnet/AspNetCore/issues/12613

[2019-07-26 17:46] chanan commented on #17
To fix the "link issue convert links that look like:
[code]
to a css import:
[code]

[2019-07-27 22:29] chanan commented on #17
Done in 1.0.0-preview7-02

[2019-07-27 22:30] #6 closed

[2019-07-27 22:30] #17 closed

[2019-07-28 15:10] chanan commented on #16
added `WithId(string id)`

[2019-07-28 15:10] #16 closed

[2019-07-30 12:22] chanan opened #18 "Ensure that multiple operations can work in one call"
For example, BlazorTyography currently  makes multiple calls instead of one long one.

Another example would be to define an elements and a selector on that element like an a and an a:hover

[2019-07-30 13:23] BlackFenix2 commented on #3
Maybe the same way Blazor prerenders the .razor files before sending a repsonse to the client? my best guess would be to interop the styled.css() function to a <style> tag int he header then let blazor do its rendering thing.

i just wanted to say, if we could get a extension for syntax highlighting i would be so happy!
![image](https://user-images.githubusercontent.com/15244006/62132758-a4782600-

[2019-07-30 14:43] chanan commented on #3
@BlackFenix2 For your second question do you mean in Visual Studio in the "string" you want syntax highlighting?

[2019-07-30 16:23] BlackFenix2 commented on #3
@chanan yeah, the same way this extension highlights styled-components and emotion: https://github.com/styled-components/vscode-styled-components

[code]

[2019-07-30 16:25] chanan commented on #3
That is a great idea! I should have thought of that myself!

I have no experience making a Visual Studio (or visual code) extension, but I will give it a shot!

Have you been using BlazorStyled? If so, how is it going?

[2019-07-30 17:10] BlackFenix2 commented on #3
I just heard about it today, haven't gotten to using it myself but it will absolutely help me move out of React and into Microsoft-curated SPA.

I also have no experience writing extensions, but we could look at vscode-styled-components and just port that logic targeting .razor files. would have to think of a ddifferent trigger than the backtick.

[2019-08-01 01:18] chanan commented on #18
This was not a bug, it was a bug in BlazorTypography

[2019-08-01 01:18] #18 closed

[2019-08-01 02:54] chanan opened #19 "Styled component"
Here are some ideas of how to make a Styled component

html elements:
[code]
Classes:
[code]
Lastly `WithId` can be added to `<Styled />` to associated the tag with a particular Id.

[2019-08-01 12:01] chanan commented on #19
https://github.com/egil/razor-component-testing-library/blob/3c33045a1bc06cd7c4b6f0f48f52567f64695484/sample/ComponentLibTests/RazorComponentFixture.cs#L28

https://github.com/egil/razor-component-testing-library/blob/3c33045a1bc06cd7c4b6f0f48f52567f64695484/sample/ComponentLibTests/RazorComponentFixture.cs#L61

[2019-08-03 16:48] chanan commented on #19
Basic examples working:

Elements:
[code]

Classes:

[code]

[2019-08-03 17:20] chanan commented on #19
Google fonts work:

[code]

[2019-08-03 18:10] chanan commented on #19
Full font face:

[code]

[2019-08-03 18:17] chanan commented on #19
Media Queries:

[code]

[2019-08-03 18:42] chanan commented on #19
Common media queries:

[code]

[2019-08-03 22:05] chanan commented on #19
Keyframes:

[code]

[2019-08-04 22:20] chanan opened #20 "Ensure the default stylesheet is last"
Biggest issue is with adding normalize. It should be at the top of all other styles.

[2019-08-05 21:23] chanan opened #21 "Media queries when added with other elements are wrong"
There are two ways to add media queries. On the class:

[code]

and on elements:

[code]

When adding on elements this works:

[code]

but this does not (it get the the class syntax above):

[code]

[2019-08-06 13:43] chanan commented on #21
1.0.0-preview7-05

[2019-08-06 13:43] #21 closed

[2019-08-06 13:44] #19 closed

[2019-08-07 01:02] VR-Architect opened #22 "Documentation site code examples boxes all have errors"
Excellent project that is exactly what I needed! I am not able to figure out how to use it as the documentation website is showing errors in all the code sample boxes.

Thanks again for the excellent package. You should see if Microsoft could add it to the next Blazor Preview version!

[2019-08-07 01:16] chanan commented on #22
Yes I know. Sadly I made a major update to BlazorStyled while traveling for a day and stupidly I forgot my laptop power cord at home. I have the documentation almost all ready to go but can’t update the site. It will be updated tomorrow though! Sorry, that was my foolish mistake!

[2019-08-07 13:41] VR-Architect commented on #3
I noticed in the code server example Host file there is this:

`@(await Html.RenderComponentAsync<BlazorStyled.ServerSideStyled>())`

And in the document says to put this:
 `<style id="styled"></style>`

Also in the server example it has different code for the startup file. Is the example your code trying the pre-render styles approach? Which one should we be trying out?

Thanks again for the cool

[2019-08-07 13:52] chanan commented on #3
@VR-Architect

`@(await Html.RenderComponentAsync<BlazorStyled.ServerSideStyled>())` is needed by Server Side Blazor applications. `<style id="styled"></style>` is needed by Client Side Blazor applications.

I am back home now and I will update the docs today. I will do it in 2 waves, get everything back working - and then I will add some new stuff and check to see if I am clear about the above in

[2019-08-07 13:57] VR-Architect opened #23 "Code for setting a google font"
Can you please give a sample of how to set the google font on the razor page variable?

[2019-08-07 14:10] VR-Architect commented on #22
No worries. It happens to me too :)  In the mean time, do you mind sharing the google font snippet for the razor page? I used your code from the server example. BTW, I racked my brains for 4 days trying to figure out a solution to switching google fonts on a razor page. You rock!

[2019-08-07 14:51] chanan commented on #22
Fixed now, sorry about that.

I will be updating the docs with more info (and better mobile support) in the next day or two

[2019-08-07 14:51] #22 closed

[2019-08-07 14:51] chanan commented on #20
Has not been a big problem as of yet, but I can imagine in certain cases it might be helpful

[2019-08-07 14:52] chanan commented on #23
Not sure what you mean exactly. This is the way google fonts work now:

[code]
Are you looking for something more than that?

[2019-08-07 14:52] #23 closed

[2019-08-07 14:59] chanan opened #24 "Documentation: Add section about API usage"
Now that all samples have been converted to the "tag" style. Need to add a section about how to use the API style as well.

[2019-08-07 15:00] chanan opened #25 "Documentation: Fix mobile styles"
The left nav needs to "collapse" when in mobile

[2019-08-07 15:01] chanan opened #26 "Documentation: Fix big spacing in code sections"
BlazorPrettyCode builds the code sections but doesn't add the hug line spacing. Fix it.

[2019-08-07 16:07] chanan commented on #26
Fixed to line-height 1.25em in the next doc update

[2019-08-07 16:07] #26 closed

[2019-08-07 16:49] VR-Architect opened #27 "How to use @font-face via C#"
I see the example for fonts here: https://blazorstyled.io/fonts

What I need is to dynamically set this as a variable and not in a style tag:

[code]

For my web page, the user has a dropdown to select 1 of 940 Google fonts. When the font selection changes, I set a variable to the appropriate value like this:

[code]

Is this possible  but using BlazorStyled? It's not possible with plan Blazor.

[2019-08-07 17:08] chanan commented on #27
Do you need the full power of Font face or ok with using Google fonts?
If you want to use google fonts only, is page do what you want (Check the typeface drop down, you can ignore the other theme stuff): https://chanan.github.io/BlazorTypography/

[2019-08-07 18:25] VR-Architect commented on #27
ohhhhh, that is a very nice package also! I am fine with just Google fonts, but need to set them via code as the user changes the value. I see this in the code but not sure how to apply it to a div onchange.

[code]

[2019-08-07 19:07] chanan commented on #27
I will answer your second question first - Yes! In fact that new BlazorStyled site does just that! If you look here: https://github.com/chanan/BlazorStyled/blob/master/src/SampleCore/Shared/MainLayout.razor#L127 - I "init" the styles with BlazorTypography, then the rest of that file (and the rest of the site really) - I either override some html elements directly or I use "classes" to override spe

[2019-08-08 13:53] chanan opened #28 "Hide till CSS is ready?"
Not sure if this will work...

Check to see if we can set a class to "Hide" till the full CSS is ready to see if the "flicker" can be avoided

[2019-08-08 13:58] chanan opened #29 "Suggestions from Arthur"
1. Improve Install instructions for client and server
2. Update font for code tags

[2019-08-08 13:58] chanan commented on #29
Fixed in the next doc update

[2019-08-08 13:58] #29 closed

[2019-08-08 14:00] chanan commented on #24
Added in the next Doc update

[2019-08-08 14:00] #24 closed

[2019-08-08 14:11] chanan opened #30 "Better support for media queries on classes in <Styled />"
Something likes this would be nice to have:

[code]
This can already be done, but the above syntax might be nice to have?

[2019-08-09 02:12] chanan commented on #25
Done in the next doc updates

[2019-08-09 02:12] #25 closed

[2019-08-09 02:20] chanan opened #31 "Better solution for combining classes"
The code for the mobile Hamburger button works: https://github.com/chanan/BlazorStyled/blob/master/src/SampleCore/Shared/Hamburger.razor but could be better.

Issues:

1. The need to duplicate the classes menuWrapper & menuWrapperFinal (although because of hashing they aren't truly duplicated but it is annoying to look at)
2. The code to combine classes is ugly:

[code]

Make this prettier!

[2019-08-10 16:05] chanan commented on #27
@VR-Architect Were you able to use the code I showed you to achieve what you wanted to do?

[2019-08-11 03:36] chanan commented on #28
Did as best can be done...

[2019-08-11 03:36] #28 closed

[2019-08-11 14:16] chanan opened #32 "Long Term Enhancement: Better CSS parsing"
Either find a library for parsing CSS in .net
Or
Add CSS parsing to CSHTMLTokenizer

[2019-08-11 14:51] chanan opened #33 "Better support for Pseudo class in <Styled />"
Similar to media queries, pseudo class can be added to <Styled /> Syntax similar to:

[code]

[2019-08-11 14:56] #30 closed

[2019-08-12 14:01] alexandrereyes opened #34 "Link to a css file"
What do you think about: `<Styled src="myStyle.css" />` ?

this way, I can segregate CSS from razor file, like @inherits to use a base class.
Another benefit is to have intelisense on CSS

the result would be:
![image](https://user-images.githubusercontent.com/729956/62870653-5d992000-bcf0-11e9-8d87-c73048319e18.png)

[2019-08-12 14:10] alexandrereyes opened #35 "Support server side blazor without server side rendering"
BlazorStyled is not working when server side rendering is disabled.

My application is a server side blazor but doesn't have a cshtml file, instead, it has an index.html:

[code]

So....I put `<style id="styled"></style>` inside index.html but looks like blazorStyle isn't populating any css inside this tag

[2019-08-12 14:11] chanan commented on #34
Not sure how this would work exactly, can you supply more details?

[2019-08-12 14:13] chanan commented on #35
I never tried that. I assume it would need to use the "client side syntax" to work.

Can you supply a small project that I can try this on?

[2019-08-12 21:36] chanan opened #36 "Allow <Styled />'s classname field to accept html elements"
[code]

Set all paragraph tags to red, and:

[code]

Sets all h1, h2 to red.

[2019-08-12 22:44] VR-Architect commented on #27
Hi @chanan

I get an error on the last two lines:

- Style does not contain a definition for AddGoogleFont
- Style does not contain a definition for Css

BTW, love how you hard coded those values. I was wondering how I was going to get all that into hard coding. I did my original using an enum. BTW, I added a sort to the font manager:

`Fonts = temp.OrderBy(o => o.Family).ToList();`

The razor cod

[2019-08-12 22:46] VR-Architect commented on #27
Using BlazorStyled v1.0.0-preview7-05

[2019-08-12 22:50] chanan commented on #27
If Visual Studio can't find AddGoogleFont and Css, then its not recognizing the type of Styled - how did you define it?

If you want, you can post your project somewhere and I can check it out.

And thanks, I use emotion.js with React - so I tried to make a similar project for Blazor.

[2019-08-12 23:56] VR-Architect commented on #27
I didn't define Styled as I copied your sample code above. It's namespace is BlazorStyled.Styled. Did I miss something to define it?

[2019-08-13 00:03] chanan commented on #27
Yes, it to use the API it needs to be injected.
If you are using a component defined in a razor file, you inject it like so: `@inject IStyled Styled`
If you are defining a component in a C# class you inject it like so: `[Inject] private IStyled Styled { get; set; }` (Constructor injection also works I think).

[2019-08-13 00:07] VR-Architect commented on #27
LOL, I just figured that out from your docs.

Sorry about that.

[2019-08-13 00:10] chanan commented on #27
No worries, I am here to help!

[2019-08-13 00:23] #36 closed

[2019-08-13 00:34] VR-Architect commented on #27
Hey,
I want to thank you very much. All worked as expected. Too awesome!

VR Architect

[2019-08-13 00:35] chanan commented on #27
That's great! I am going to close this issue, but please feel free to open another one if you have more questions or problems!

[2019-08-13 00:35] #27 closed

[2019-08-13 20:09] chanan opened #37 "Upgrade to preview8"

[2019-08-13 20:11] #33 closed

[2019-08-15 13:20] VR-Architect commented on #37
I started a new preview8 server and added BlazorStyle v1.0.0-preview8-02. If you run the empty project with the Chrome console showing then click one of the links, the client gets disconnected from the server. I have isolated down the line of code doing this. It is in the _host file

`@(await Html.RenderComponentAsync<BlazorStyled.ServerSideStyled>())`

If I comment this out, the error goes away.

[2019-08-15 13:22] VR-Architect commented on #37
BTW, this article from Steve Sanderson might be helpful? https://gist.github.com/SteveSandersonMS/9451f3b5497ce2b5ad16b0d07ad73539

[2019-08-15 13:40] chanan commented on #37
I am not fully updated to Preview8 yet, thats why this issue is still open - run into a problem with the CSB project - which runs the documentation site. I am working on it now. Once its all up I will recheck this issue.

[2019-08-15 13:53] chanan commented on #37
Just found the error and will have preview8 support officially out in a few minutes

[2019-08-15 13:53] VR-Architect commented on #37
LOL, all the Syncfusion controls stopped working too :)

[2019-08-15 13:54] chanan commented on #37
Not surprising, I am sure its a similair issue - @ref is broken in preview8 and in fact they already announced they are going to back out of that change

[2019-08-15 14:02] VR-Architect commented on #37
Yeah, I had to change them all in my project. There are some other changes I had to make to per this document, mostly the OnInt / OnIntAsync has changed.

https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-8/

[2019-08-15 14:03] VR-Architect commented on #37
And this too  - Remove use of namespace Microsoft.AspNetCore.Components.Layouts.

[2019-08-15 14:29] chanan commented on #37
Upgrade done finally - but found two "real" bugs in the new code (I was in the middle of adding features when p8 came out) - I will fix those two and release after that. Should be still this morning.

[2019-08-15 17:42] chanan commented on #37
Ok its released now and the docs are updated 1.0.0-preview8-03  <--- note just pushed that version to nuget

The ServerSideSample project that is in this repo does work, so you should be good to go now. I will leave this issue open for a bit to see if you have problems getting it to work

[2019-08-15 19:40] VR-Architect commented on #37
I made the changes and get this error when running:

[code]

[2019-08-15 19:43] chanan commented on #37
Do you have services.AddBlazorStyled() in your startup?

[2019-08-15 19:47] VR-Architect commented on #37
That was it and works now. I copied from the ServerSideSample which doesn't have it though.

https://github.com/chanan/BlazorStyled/blob/master/src/ServerSideSample/Startup.cs

Thanks again

[2019-08-15 20:33] chanan commented on #37
It's there, just hidden inside `services.AddServicesForSampleSites();` - I will remove that and make it more explicit next docs update. I will close this issue now since you are up and running, but please feel free to let me know of more issues.

[2019-08-15 20:33] #37 closed

[2019-08-16 22:21] chanan commented on #31
Something like this might work:

[code]

[2019-08-19 13:40] alexandrereyes commented on #34
Instead using style inside the component razor file, you'll have the CSS in another file.

[2019-08-19 13:41] alexandrereyes opened #38 "https://blazorstyled.io/ documentation is broken"
website documentation is broken:
![image](https://user-images.githubusercontent.com/729956/63270142-ef170d80-c26d-11e9-8091-3e47cba9cfc7.png)

[2019-08-19 13:49] chanan commented on #34
Right now there is no way to pretender the css. However, I will see if it is possible to link to css file that is a razor file.

[2019-08-19 14:03] chanan commented on #38
I could not reproduce this. Is there anything different about your browser?

[2019-08-19 14:05] alexandrereyes commented on #38
Firefox clean install, same error:
![image](https://user-images.githubusercontent.com/729956/63271808-47034380-c271-11e9-93f9-da9943d47a2b.png)

[2019-08-19 14:07] alexandrereyes commented on #38
Microsoft Edge Too
![image](https://user-images.githubusercontent.com/729956/63271889-774ae200-c271-11e9-9071-7c1ba2317e1f.png)

[2019-08-19 14:11] chanan commented on #38
I don't have firefox handy, both in Chrome and Edge it shows up for me fine.

I am going to release a new version today which means the doc site is getting updated as well, maybe it will go away - I will let you know when its out.

[2019-08-19 14:27] chanan commented on #38
@alexandrereyes Can you check your network tab - are the *.dll files getting blocked by an anti virus or ad blocker - I just recalled we filed a report with Ad Block about that and also opened a github issue for it.

I asked people in the Gitter Blazor room to try it as well right now, and so far the one person that tried it said it worked.

[2019-08-19 14:32] alexandrereyes commented on #38
No block, very strange...client side blazor is very premature, we never know whats going on behind the scenes, server side blazor is more stable (right now).
![image](https://user-images.githubusercontent.com/729956/63273527-83846e80-c274-11e9-824a-62bb35d55da1.png)

[2019-08-19 14:36] chanan commented on #38
Do you have any errors in the console?

Yes, I agree about Server Side Blazor, however it is not as easy to setup on a free service as it is to host Client Side on github pages. I am looking into it though

[2019-08-19 14:42] alexandrereyes commented on #38
@chanan Azure has $200 free for year, I think it's sufficient.
No console errors, looks like a font problem:
![image](https://user-images.githubusercontent.com/729956/63274561-605abe80-c276-11e9-90d4-16e43e298eb2.png)

[2019-08-19 15:13] chanan commented on #38
I am considering the free tier, but I heard if you use the free tier it doesn't allow custom domains.

That is weird about the font, still not sure what it going on. Let's check again when I release the doc site in a few hours again.

[2019-08-19 15:32] jbomhold3 commented on #38
Whats the console output?

[2019-08-19 15:49] alexandrereyes commented on #38
![image](https://user-images.githubusercontent.com/729956/63279640-bbdd7a00-c27f-11e9-8078-abff85a9dcf5.png)

[2019-08-19 19:15] #31 closed

[2019-08-19 19:17] chanan opened #39 "Hashs are not stable across runs"
Looks like if you create a a class and then next run create one again, it gets a different hash

[2019-08-19 19:57] #39 closed

[2019-08-19 20:04] chanan commented on #34
This doesn't look possible at this time. Maybe, if in the future I can figure out a way to pre-render all the css in the app, I can create a css file you can link to. I will leave this open, but this is a long term item

[2019-08-19 20:44] chanan commented on #38
The new site is deployed if you want to give it another try

[2019-08-20 12:04] alexandrereyes commented on #38
The same... :( tried on smartphone and the problem persists, even in 4G network
![image](https://user-images.githubusercontent.com/729956/63345603-7ecdc200-c329-11e9-82c2-a14158ff6910.png)

[2019-08-20 12:21] chanan commented on #38
I wouldn’t expect smartphone to work. I know iOS has issue as I opened a GitHub issue for it in the mono repo.

In the next few days I will put up a temp server side site in azure and see if that works for you. If it solves the problem I will decide what to do after that.

[2019-08-20 19:59] VR-Architect commented on #35
Are you using Syncfusion by chance? I upgrade to today's version for both.

Syncfusion needs this to work:
`endpoints.MapBlazorHub<App>(selector: "app");`

BlazorStyled needs this to work:
`endpoints.MapBlazorHub();`

How to get both to work together?

[2019-08-20 20:01] chanan commented on #35
No, I have tried Synfusion, I **think** that if you use mine Syncfusion will work as well. Have you tried that?

[2019-08-20 22:32] alexandrereyes commented on #35
[repo.zip](https://github.com/chanan/BlazorStyled/files/3522857/repo.zip)
@chanan here is the project witch reproduces the problem

[2019-08-20 23:10] chanan commented on #35
I will take a look at this evening. Thanks for putting that together

[2019-08-21 02:34] chanan commented on #35
@alexandrereyes Yes, the one you sent will not currently work (server side pre render) - I do plan to keep trying to work on it, but figured it might be better to wait for an RC of Blazor (should be soon) before trying too hard due to changes in the way Blazor works (Preview8 is what actually broke this). In case you don't have a working Server Side project at all, I fixed the project (i.e. took o

[2019-08-22 14:55] VR-Architect opened #40 "[Preview 8] BlazorStyled and Syncfusion don't work together"
I upgrade to today's version for both.

Syncfusion needs this to work:
`endpoints.MapBlazorHub<App>(selector: "app");`

BlazorStyled needs this to work:
`endpoints.MapBlazorHub();`

How to get both to work together? I can only get one to work at a time.

[2019-08-22 15:28] chanan commented on #40
I haven’t tried it but suncfusion should be able to work with the way BlazorStyled is. Have you tried it?

I won’t be back home till Friday. Took my girl to college

[2019-08-23 12:16] VR-Architect commented on #40
Yes, I used them both in Preview 7 and now Preview 8.  I have been using Syncfusion controls since the beginning. The issue only came up with I had to change to this:

`endpoints.MapBlazorHub();`

with BlazorStyled Preview 8. They do not work together if we have to change that.

[2019-08-23 13:45] chanan commented on #40
Hi @VR-Architect, There is a workaround! You don't have to place the style tag in the head. I will update the docs for this alternate solution but in the mean time, to get you going here is what you need to do (Posting a link to a working project at the end of these instructions as well):

1. You don't need to change the _Host.cshtml file, leave it as it is.
2. You don't need to change `Configure`

[2019-08-23 17:32] VR-Architect commented on #40
Wow! You continue to impress. That is more elegant solution. Thanks again!

[2019-08-23 19:55] alexandrereyes commented on #34
Hey @chanan what's your thoughts about this? https://github.com/alexandrereyes/BlazorScopedCss

[2019-08-23 21:07] #40 closed

[2019-08-23 21:16] chanan commented on #34
Very nice project!

[2019-08-24 15:04] chanan commented on #40
Docs updated: https://blazorstyled.io/alternate-server-side-install

[2019-08-25 15:17] chanan commented on #35
@alexandrereyes & @VR-Architect - I added a sample called ServerPreRenderSample: https://github.com/chanan/BlazorStyled/tree/master/src/ServerSidePreRender

Does this do what you two want?

[2019-08-25 15:19] chanan commented on #11
This might have been fixed when I refactor StyleSheet and Hash classes. Need to check

[2019-08-25 19:23] chanan commented on #38
@alexandrereyes is your browser en-US or are you in another locale? Someone mentioned in the gitter room that they are on Italian locale and that the percent for line height is 112,5 and not 112.5 which might be the cause of this issue

[2019-08-25 20:38] alexandrereyes commented on #38
Pt-br
this must be the problem

[2019-08-26 06:38] brettwinters opened #41 "Add Classes to element"
Thanks @chanan for a great tool!

Just trying to get my head around this :

e.g.

[code]

To apply a class to an element say, if someone clicks a button, then doing it the "old way", I would usually add say, an "active" class to the div where I could handle the formatting changes in css:

[code]

But how to do this in Styled, if this is the best approach...(Composition, Using predefined class name

[2019-08-27 01:45] brettwinters commented on #41
your suggested solution worked perfectly - thanks for your help!

It's a totally new way of thinking. No need to add/remove classes. Just change the class depending on c# variables.

[2019-08-27 01:45] #41 closed

[2019-08-27 13:11] MarkStega opened #42 "ClientSideSample not styling"
The client side sample index.html is missing
[code]
and therefore is not styled.

[2019-08-27 13:22] MarkStega opened #43 "Server side project requires alternative methodology -- A couple of ?"
I have a Blazor project underway that I am adding BlazorStyled. If I do the change to _Host.cshtml
[code]
several of my components fail to function (namely a modal popup and all derived from that. I can get everything to work using the ServerSideStyle component.

1) Do you know what the interference issue is? I have control over my components so if needed I can change them.
2) I have only one Main

[2019-08-27 13:33] #42 closed, assigned to nobody

[2019-09-03 00:10] chanan commented on #43
Closing this as it seems you got it all working. Let me know if you have other questions or issues

[2019-09-03 00:10] #43 closed

[2019-09-03 00:11] chanan commented on #35
I think this works now, let me know if you guys run into other issues

[2019-09-03 00:11] #35 closed

[2019-09-03 00:12] chanan opened #44 "Documentation Site: Add night mode toggle"
Add a night mode toggle to the documentation site based on: https://dev.to/ninjasoards/make-a-custom-night-mode-toggle-w-react-css-variables-272o

[2019-09-03 13:59] chanan opened #45 "Theme updates"
Theme variables won't cause a re-render

[2019-09-03 23:09] #45 closed

[2019-09-03 23:09] #44 closed

[2019-09-03 23:09] #11 closed

[2019-09-04 20:26] chanan opened #46 "Preview 9 Update"

[2019-09-05 02:47] chanan commented on #40
In preview 9 this might have been fixed to work the "original way" I will retest this tomorrow. see here: https://devblogs.microsoft.com/aspnet/asp-net-core-and-blazor-updates-in-net-core-3-0-preview-9/#multiple-components-in-views-or-pages

[2019-09-05 16:49] #46 closed

[2019-10-01 12:08] cerkoid opened #47 "media query with fixed classname"
There is a bug with Styled.CSS API method when you use it like Styled.CSS("xsDown", body)
It creates inline style like

.xsDown{@media only screen and (max-width:600px) { display: none !important;}

and not

@media only screen and (max-width:600px) { .xsDown{ display: none !important;} }

With <Styled> component it's the same.

Works correct when binding classname with @bind-Classname though…

BTW

[2019-10-01 12:11] cerkoid opened #48 "CSS vendor prefixes"
How can one use vendor prefixes?

<Styled Classname=".test">
  display: grid;
  display: -ms-grid;
</Styled>

results in CSS
.test {
  display: -ms-grid;
  display: -ms-grid;
}

[2019-10-01 13:09] chanan commented on #48
Thanks for the two big reports. I will check then out tonight after work

[2019-10-04 01:42] chanan commented on #47
Hi @cerkoid sorry for the late reply.

Do you mean you are doing:

[code]

[2019-10-04 01:43] chanan commented on #48
Can you supply the exact line you are running please? Also, if you can, what the output should be.

[2019-10-04 04:54] cerkoid commented on #48
So given razor syntax:
<Styled Classname=".rlG.PFl">
  display: -ms-grid;
  display: grid;
  flex-shrink: 0;
</Styled>

result should be like:
.rlG.PBL {
  display: -ms-grid;
  display: grid;
  flex-shrink: 0;
}
and not

.rlG.PBL {
  display: grid;
  display: grid;
  flex-shrink: 0;
}

[2019-10-04 04:56] cerkoid commented on #48
In previous comment razor syntax is like this (github stripped tags):
`<Styled Classname=".rlG.PFl">
  display: -ms-grid;
  display: grid;
  flex-shrink: 0;
</Styled>`

[2019-10-04 05:02] cerkoid commented on #47
I don't have a sample any more, i made a workaround using static css file... But just try to declare style like
`<Styled Classname=".xsDown">
  @media only screen and (max-width : 600px) { display: none !important; }
</Styled>`
it creates strange css syntax, but if you do it like
`<Styled bind-Classname="some local variable">
  @media only screen and (max-width : 600px) { display: none !important;

[2019-10-04 16:48] chanan commented on #47
The following two ways should do what you want (or close to it in one case):

1. Drop down to just using `Styled`:

[code]
This will out the exact CSS you want.

2. You can use the built in media queries but it wont be the exact media query you want:

[code]

Which will output:
[code]

Let me know if this solves this issue

[2019-10-04 17:09] chanan commented on #48
@cerkoid When I ran:

[code]

I did get the correct output:

[code]

Was there something else on the page that you had that might have caused that in some way?

[2019-11-24 18:57] DataJuggler opened #49 "Does with work with Position elements also?"
I read the docs, but didn't see any examples involving position.

And bonus question, how does this work under the hood? Does it take the Styled Attributes and add it to a virtual css file?

I love Blazor, I just feel like there is a hook missing to be able to programmatically refer to elements and get / set values of attributes and I could forever get rid of javascript.

[2019-11-25 16:04] chanan commented on #49
Positioning should be like any other CSS property and should work. I think I might have some examples in the hamburger menu used in the site when in phone viewport. I will check and paste the link if it’s used.

The way it works is it “prints” out the CSS to the tag in the head. If you look in dev tools, expand the head tag and you should see a style tag with all your CSS.

Yes to read the dom you

[2019-11-25 16:06] DataJuggler commented on #49
Thank you for the reply. I will try again as my first test was probably setup wrong.

[2019-11-25 16:06] #49 closed

[2019-11-28 12:47] DataJuggler opened #50 "Question: How did you create the docs at https://blazorstyled.io?"
Sorry to ask an off topic question, but I really like the format of your documentation.

Is that a template or something, or did you create all that by hand? I need something like that for my projects.

Many Thanks

Corby

P.S. I searched YouTube for some of your projects and couldn't find anything, do you have a channel?

[2019-11-29 17:24] chanan commented on #50
Hi,

No, sorry I dont have a you tube channel.

I used a modified version of a github SPA template (Can't find the exact one anymore).

If you look in /docs folder, the relevant files are index.html and 404.html. You should also have a .nojekyll for some reason.

Once that is setup, I simply copy the folders from \bin\Debug\netstandard2.0\dist and place them in /docs.

Hope that help!

[2019-11-29 17:29] DataJuggler commented on #50
Thanks for the reply, I will see if I can follow the instructions.

Your code is so popular you should making some videos.

[2019-11-29 17:29] #50 closed

[2019-11-29 17:31] chanan commented on #50
Thanks, I will give it some thought! :)

[2020-01-11 16:02] DataJuggler opened #51 "Your Docs List RenderModeAsync without a parameter"
To get a new project to compile, this line has to have RenderMode parameter specified:

@(await Html.RenderComponentAsync<BlazorStyled.ServerSideStyled>(RenderMode.ServerPrerendered))

You get an error about RenderModeAsync does not have any overloads with zero parameters if you don't have something there.

I am not sure if Server or ServerPrerendered is the correct option.

[2020-01-12 03:13] mcc85s opened #52 "invalid service collection"
![image](https://user-images.githubusercontent.com/44849131/72213581-3b821480-34bf-11ea-8d1f-a60e938fa4b1.png)

I am able to get this to work if I choose the server side only, however if I choose webassembly, no go. This would be great to use because between jsinterop and this... this method would be more of a preferred choice considering some of blazor's limitations.

[2020-01-14 11:10] DataJuggler opened #53 "Can you explain how your short example works where @hover = EmptyString please?"
I am just trying to better understand how this works, but from looking at your example, isn't @hover empty string or null since it was never initialized?

In a real example with other classes, wouldn't you have to set @hover to something?

My more than likely flawed HTML interpreter in my brain outputs this as class="", is that correct?

Thanks.

[2020-01-14 14:40] chanan commented on #53
It sounds like you are referring to the snippet on the home page of https://blazorstyled.io ?

[code]

The first tag: `<Styled @bind-Classname="@hover">...</Styled>` will "bind" the contents of the tag to the variable named "hover". So after that tag gets executed hover will be initialized to that css snippet.

After the second tag executes hover.hover (pseudo class hover of a css class named hove

[2020-01-14 14:51] DataJuggler commented on #53
Yes it does. The part that wasn't obvious to me is what you just explained, the part about 'after that the tag gets executed hover will be initialized to that css snippet'.

So in effect you are saying this:
Set @hover = the string that make up the CSS contents of the Styled element.

Some things take me longer to understand, I figured out quickly that I can't modify the variable name or everythin

[2020-01-14 14:51] #53 closed

[2020-01-14 14:52] chanan commented on #53
Great, glad you find the library useful! :)

[2020-01-19 05:09] DataJuggler opened #54 "Issue with using BlazorStyled as components and images"
I have a strange issue, maybe you have an idea.

I am attempting to build a progress bar sample that I thought would be simple using Blazor Styled, but I have been stuck on this for a while.

I have an issue that works fine if I use BlazorStyled in a Blazor Project directly.

After I created a component library to host this progress bar, all the styles from the ProgressBar Style work except for th

[2020-01-19 16:27] chanan commented on #54
Hi @DataJuggler

I didnt download the repo, but I think I see what you are missing. Static content references from another library needs to be in the format: "_content/<libraryname>/" - this is not unique to BlazorStyled, that is a Blazor thing. Although, I should note, that I just went to look in the documentation site and couldnt find it - they really should update the docs.

So in your case it

[2020-01-19 16:35] DataJuggler commented on #54
Thank you for the response, I will try as soon as I get a chance and let you know.

[2020-01-19 17:08] DataJuggler commented on #54
Your solution worked, although the library name I need is that of the component library so it is available as a Nuget package:

background-image: url('_content/DataJuggler.Blazor.Components/Images/RedProgressBase.png');

Documentation on Blazor is hard to find and search engines are not very experienced yet on what is relevant. I am new to Dot Net Core also so many things I have experience in are

[2020-01-19 17:08] #54 closed

[2020-01-19 17:15] chanan commented on #51
I will update the docs. Sorry about that, it was done prior to the time RenderComponentAsync had a required param

[2020-01-19 17:16] chanan commented on #52
It looks like that your IServiceCollection is called services, so `services.AddBlazor` should work. Let me know.

[2020-01-19 17:17] DataJuggler commented on #51
No apologies are necessary. Blazor is new and I expect change as sometimes even Microsoft has to go back to the drawing board to get it right. I was just trying to help the next person that comes along.

Thanks

[2020-01-19 17:18] chanan commented on #51
Going to reopen this till I update the docs, otherwise, I will forget :)

[2020-01-19 20:50] mcc85s commented on #52
you can close this issue. I spent a whole week trying to get JSInterop to work the way I wanted
if you care to check it out... this is what I was trying to do.
https://youtu.be/Z99zsCwYhWk

haven't gotten it to work yet... thanks for your response though.

[2020-01-19 20:54] chanan commented on #52
I watched the video, but not sure what issue you were having. Was it a problem with BlazorStyled? I can try to help if you explain the issue and post some code.

Or I can close the issue if you want.

[2020-01-19 22:40] mcc85s commented on #52
That video uses strictly javascript and css, that is not actually running Blazor yet.

I couldn't get BlazorStyled working, nor what I'm doing with the scaling natively in Blazor.

When I first heard of your project, I thought perhaps it would be able to dynamically scale the CSS content, which is what I'm attempting to do.

[2020-01-19 22:51] chanan commented on #52
BlazorStyled doesnt dynamically scale your CSS that's true, but it does allow you to dynamically change your CSS in code so you could do something like this (psudeo code):

[code]

For an example of changing font size on a button click you can see here: https://blazorstyled.io/composition (The purpose of the page is actually dynamic class composition but just so happens the example uses font size)

[2020-01-20 13:03] mcc85s commented on #52
Yes I see that's very powerful indeed.

I'll keep that in mind. Thank you!

[2020-01-20 14:18] #52 closed

[2020-01-22 15:30] DataJuggler opened #55 "Question: How do I pronounce your name?"
I finally finished my Blazor sample and I am making a short video today. I added a simple animated car race to demonstrate some of the things you can do with BlazorStyled.

I don't want to butcher your name if I can help it.

My guess is:
Chanan - kind of like Shannon but with a CH at the beginning and a 'an' sound at the end.
Braunstein: Brawn Stine is my guess, or maybe it is steen?

Thanks,

Co

[2020-01-27 19:38] DataJuggler commented on #55
I published the video: https://youtu.be/frtetHgfdIo

I hope I did your name justice or didn't butcher it too badly.

Thanks

[2020-01-27 20:13] chanan commented on #55
Awesome video, I will post it on the site shortly!

[2020-01-31 01:33] tomlm commented on #3
I also wanted better binding with the CSS itself.
I created a companion project called **BlazorCss** which provides **<Rule...** component where all of the properties are bindabable and you get intellisense for valid property names and values inside a Styled tag.
https://www.nuget.org/packages/BlazorCss
https://github.com/tomlm/BlazorCss
![alt text](https://github.com/tomlm/BlazorCss/raw/master/Na

[2020-01-31 14:26] chanan commented on #3
That's awesome! Next update to the docs I will add a link to your project.

[2020-01-31 14:27] chanan opened #56 "Doc updates: Add video link and a link to BlazorCss"
Video: https://youtu.be/frtetHgfdIo

BlazorCss: https://github.com/tomlm/BlazorCss

[2020-01-31 14:28] chanan commented on #55
Doc update tracked here: https://github.com/chanan/BlazorStyled/issues/56

[2020-01-31 14:28] #55 closed

[2020-02-02 15:26] chanan opened #57 "Update to: Blazor WebAssembly 3.2.0 Preview 1"

[2020-02-02 16:20] #57 closed

[2020-02-02 16:20] #56 closed

[2020-02-02 16:47] #51 closed

[2020-02-10 02:53] chanan opened #58 "CSS Composition: Provide a way to compose classes based on a function"
Active / Inactive are a good example of this.

[2020-02-10 03:20] chanan opened #59 "Css Composition: Compose current snippet as the base of the class"
Allow:

<Styled @bind-Classname="@someclass" Compose1="@someotherclass">
  display: block;
</Styled>

Provide a way to switch between being the base or overriding "someotherclass"

[2020-02-10 03:23] chanan commented on #48
Closing this, let me know if you have more questions

[2020-02-10 03:23] #48 closed

[2020-02-10 03:23] chanan commented on #47
Closing this, let me know if you have more questions

[2020-02-10 03:23] #47 closed

[2020-02-10 03:24] chanan commented on #34
Closing this, let me know if you have more questions

[2020-02-10 03:24] #34 closed

[2020-02-10 14:20] chanan opened #60 "Namespace styled tags"
Currently the data in memory is name spaced but the physical tags are not

[2020-02-15 18:46] chanan opened #61 "Bug in compose"
Rendering two section below has a bug with two sections: The first sections should get "section-present" (plus center) but gets no classes

[code]

Throws:

[code]

[2020-02-15 20:19] chanan opened #62 "Sequence of pseudo classes"
[code]

Work around is:

[code]

[2020-02-17 19:07] chanan opened #63 "Consider: Compose returns multiple class names instead of one uber class"

[2020-02-18 00:19] chanan opened #64 "Minor bug: an empty css class will cause an error"
A class with just a label will cause an error

[2020-02-23 22:03] chanan opened #65 "Remove the need to have a tag in the head"
Originally, the tag in the head was put in place to remove the need for javascript file in the head. However, both can be removed if Styled were to embed the needed javascript inside of itself.

This will also allow:

1. Separate style tags per namespace
2. debug / production mode using insertRule

Pending:

- [x] Fonts
- [x] Theming
- [x] Dynamically changing the theme
- [x] Theme values in class

[2020-03-07 17:39] #60 closed

[2020-03-07 18:52] chanan opened #66 "Add and "Add" and an "AddOrUpdate" method for theme values"

[2020-03-07 18:57] #66 closed

[2020-03-09 15:53] #65 closed

[2020-03-09 16:24] #20 closed

[2020-03-09 19:05] #63 closed

[2020-03-09 19:38] #59 closed

[2020-03-09 19:52] chanan commented on #58
This might not be possible so removing it from the milestone.

This is due to the fact that the `CaptureUnmatchedValues` requires a public `IReadOnlyDictionary<string, object>` but a lambda is not an object: `Cannot convert lambda expression to type 'object' because it is not a delegate type`

[2020-03-09 20:03] #64 closed

[2020-03-09 20:07] #61 closed

[2020-03-09 20:09] chanan opened #67 "Update documentation for v2.0.0"

[2020-03-09 20:24] #67 closed

[2020-03-10 14:01] chanan opened #68 "Serverside - refreshing the screen causes all styles to disappear (v2.0)"

[2020-03-10 19:39] chanan commented on #68
Fixed in 2.0.1

[2020-03-10 19:39] #68 closed

[2020-03-12 14:54] chanan opened #69 "Regarding 3.2 Preview2 - Please read"
BlazorStyled 2.1.0 was released but I have not been able to update the docs site due to: https://github.com/dotnet/aspnetcore/issues/19796

[2020-03-12 16:05] chanan commented on #69
There is a work for this issue now: https://github.com/dotnet/aspnetcore/issues/19796#issuecomment-598269333 - I will publish the docs tonight

[2020-03-12 18:49] chanan commented on #69
Fixed

[2020-03-12 18:49] #69 closed

[2020-03-12 23:35] chanan opened #70 "When combining classes the "base" class should be first in the style sheet"

[2020-03-12 23:46] #70 closed

[2020-03-13 00:07] niem94 opened #71 "Any way to utilize partial classes?"
I would love to use partial classes for BlazorStyled, as that would allow me to do the following:

ClassName.razor
--> ClassName.razor.code.cs
--> ClassName.razor.styles.cs

So is it possible to define styles in a class?

[2020-03-13 00:14] chanan commented on #71
That is not valid in Blazor framework, unless I am misunderstanding what you mean, so I can't help you there. But you can to three things that are valid.

1. You can have a code behind for a razor component where you put the Styled tag as well as other markup in your razor file and the logic in your class.
2. You can create a component with your Styled tags and inside of it put another Component w

[2020-03-13 01:12] niem94 commented on #71
So actually partial classes are supported since 3.1. They are implemented the same way as Base Classes except they are not inherited, and uses the partial keyword instead. There are also some differences in the functionality, but I'm not too familiar with that.

I figured it out, and it works like a charm. I shared a simple example below on how this works (now I just want file nesting in vscode, b

[2020-03-13 01:30] chanan commented on #71
Glad you figured it out! What you did is more or less what I mean by my 1 suggestion, but what I didnt know is that you can have file names the way you have them.

You know you can also have a "real razor" and a cs file something like this (Pesudo code because it is a lot of typing :)  )

Hyperlink.cs:

[code]

Hyperlink.razor

[code]

I have been using that style lately - it is a really nice and

[2020-03-13 01:55] niem94 commented on #71
Thanks, yeah I think it is pretty neat that it allows for multiple partial classes. It helps in keeping the clutter away :-)

I actually used that style before, but I prefer my css in a separate file from my markup and code to clearly separate concerns.

Im using BlazorStyled for a project i'm making for Southern University Denmark. It is a website where one can create Business Models over big to

[2020-03-13 01:55] DataJuggler opened #72 "Is Blazor.ServerSideStyled obsolete?"
I updated a project today and this line stopped compiling. Is it no longer needed?

@(await Html.RenderComponentAsync<BlazorStyled.ServerSideStyled>(RenderMode.ServerPrerendered))

Thanks, I didn't see a new features for 2.0/2.1 versions, do you have that posted anywhere?

Thanks,

Corby

[2020-03-13 02:00] niem94 commented on #72
Yes it is :-)

You can safely delete that line. BlazorStyled only needs  services.AddBlazorStyled(); from 2.0 and up.

[2020-03-13 02:02] chanan commented on #72
That’s correct no longer needed.

I am on mobile right so hard to list here but if you check the releases link on the main github page and go to 2.0.0 you should see it. The main new thing is a whole new underpinning of the project so you no longer need that tag in the head.

Another thing is kind of minor but helpful, when you compose classes it will compose class names instead of the styles, and

[2020-03-13 02:02] DataJuggler commented on #72
I took it out and it compiled. Good to know, easier is always better out of the box.

Thanks

[2020-03-13 14:07] chanan commented on #72
I am going to add a section to the doc sites with the release notes over the weekend, so hopefully going forward this will be mitigated.

Closing this issue since I think everyone is up and working now.

[2020-03-13 14:17] chanan commented on #71
You are right, I dont think I can do what you mention in your code snippet because the framework needs to set the the class name (@_myFristClass, @_mySecondClass) and notify Blazor the variable changed (which is what bind does). But just because I dont see a way to do that right away doesn't mean its not possible :) So I will think about it for a bit.

Just so I get more info from you. What you de

[2020-03-13 14:17] #72 closed

[2020-03-13 14:50] grserwe opened #73 "Documentation Site"
I'm unable to get to the documentation site.  I either get stuck on the Loading... and eventually get the page  is not responding out or I get an unhandled error has occurred.    https://blazorstyled.io/

[2020-03-13 14:52] chanan commented on #73
What browser / os?

[2020-03-13 14:58] grserwe commented on #73
I attempted to use Chrome on Windows 10.

                Odd… I just tried Microsoft Edge and it works.

                I also tried from my android phone running chrome and it failed.

                Lastly I tried it using the silk browser on a amazon tablet (android)

                The fact that it works for me on Edge makes me think it’s strange problem on my end.  Sorry to bother you.  I

[2020-03-13 15:02] chanan commented on #73
Hi Gregg,

I just tested on windows 10 with chrome Version 80.0.3987.132 (Official Build) (64-bit) and it loaded.

What is the exact error in the console you are getting?

[2020-03-13 15:11] grserwe commented on #73
Very strange indeed.  I was getting an out of memory error from WASM.  Shut everything down and rebooted.  Works on both browsers now.  Thank you for the follow up.

Also, thank you for an awesome project!

[2020-03-13 15:11] #73 closed

[2020-03-13 15:18] chanan commented on #73
No problem!

I do know that there is a bug in mono regarding memory issue, I will try to find it again (I hit it from time to time too).

Out of curiosity: what project are you building with BlazorStyled, and are there any features you feel are missing?

[2020-03-13 15:30] grserwe commented on #73
                I’m building a personal website for keeping track of various things such as addresses/recipes.  Another project includes a home automation manager.                 At this point I haven’t run into any features that I feel are missing.                 From the web application side I came from angular and jumped onboard blazor as soon as I could.  What I disliked about blazor was hav

[2020-03-13 15:47] chanan commented on #73
Thanks for the info Gregg! Please share the home automation manager when you have it working - its a personal of interest for me - I have tons of hue light bulbs! :)

If you ever have any suggestions for feature please reach out to me. Also did you see you can add Google fonts with a tag?

[2020-03-13 16:00] grserwe commented on #73
I will check out the google fonts feature now that I can reach the documentation site again :)

If I run across a feature that I'd like to see, I'll certainly let you know.

I'd like to get your opinion  on something however.  The home automation manager project has multiple devices which all have some common styles.  Currently what I have is a static "GlobalStyles" class that contains strings wit

[2020-03-13 16:49] niem94 commented on #71
Glad that you liked my idea. What you propose here would indeed be a good solution for it! I like it :-)

[2020-03-13 17:28] chanan commented on #73
Right now, you will need to register it in both places (or some sort of include. The good news it will detect that it is the same exact class and will not enter duplicate styles and will return the same exact class name. The bad news is of course you need to enter it in twice (or some sort of global include).

The issue is to figure out a way to define a style in lets say MainLayout.cs and then ge

[2020-03-13 17:31] chanan opened #74 "Feature request: Global Styles"
Is there a way to support something along the lines of:

MainLayout.cs:

[code]

SomeComponent.razor:

[code]

[2020-03-13 17:33] chanan opened #75 "Feature request: Define multiple styles at once"
Ability to define multiple styles at the same time. Not sure it can work, but maybe something like this:

[code]

[2020-03-13 17:33] chanan commented on #71
Added a new issue for this. Closing this now. Thanks again!

[2020-03-13 17:33] #71 closed

[2020-03-13 20:18] grserwe commented on #73
Thanks again for the response and explanation.   It's not difficult to do it the way I'm doing it today.  I just wanted to make sure I wasn't missing out on a better way.

[2020-03-15 00:02] chanan opened #76 "Add a "What's new" section"

[2020-03-15 03:11] #74 closed

[2020-03-15 03:37] #76 closed

[2020-03-15 03:40] chanan commented on #71
@niem94 Check out the new GlobalStyles in v2.2.0 (I added an example of it in the documentation site) - It might also be useful for defining styles in a separate file.

[2020-03-15 14:22] niem94 commented on #71
@chanan that seems very useful for a lot of cases!  How do you propose it is used in a separate file? :-)

[2020-03-15 14:26] chanan commented on #71
I have one example in the docs site under Global Styles in the nav

Basically it allows you to define a style in one file (obvious example would be MainLayout.cs) and give it a name.

Then later in your component you can grab that name and directly apply it to a class attribute.

Can be useful in some cases but not all. If your styles are dynamic or depend on params in your component then it won’t

[2020-03-15 14:45] niem94 commented on #71
Oh I misunderstood you there. I thought you meant in a separate file like with partial classes or base classes ;-) I do recognise the usefulness of the feature itself 🥇 It is awesome to have some place to define global styles such as your above examples :-) Thanks for sharing!

[2020-03-16 13:40] DataJuggler opened #77 "Feature Request: CSS Intellisense"
I realize this may be extremely difficult or impossible, but the one feature I would like is to have the same auto complete that Visual Studio provides if you are on a style sheet.

My CSS knowledge is growing over the years, but as I use BlazorStyled I find myself switching over to my site.css to ensure I have the correct syntax, and then switching back to my .razor page.

If you can come up with

[2020-03-16 14:51] chanan commented on #77
I think of something similar, my idea was a VS Extension to colorize the CSS inside of a `<Styled />` tag - intellisense is even better though!

I will read the article you sent and give it some thought. It will be out of band update if I can even get it working as it is not directly tied to the same package. If I get anything working, I will start a new repo and update this issue page wit the lin

[2020-03-16 14:52] chanan commented on #77
Mads' extension is open source. Might be useful to lift the code for stylesheet intellisense from there: http://vswebessentials.com/features/stylesheets

[2020-03-17 01:26] grserwe commented on #73
I like the new feature of global styles :)  Thanks!

[2020-03-18 17:17] chanan opened #78 "Feature Proposal: Theme Tag"
Themes need some TLC... Maybe the ability to define a theme inside a tag will help something along the lines:

[code]
or maybe json would be better?
[code]
HOCON could allow both syntaxes: https://github.com/akkadotnet/HOCON

The API will be updated to allow a theme update in one string:

[code]

Lastly, need to add a way to switch between themes. API:

[code]

Not sure about a Tag version for tha

[2020-03-18 17:25] chanan opened #79 "Minor: Can remove stylesheet id from class name"
Previously, all stylesheets where rendered in the same tag. So Stylesheet Id was appended to the hashed class named, for example, for a styledsheet with the id = "Typography" and a label of "Heading" a class might have been rendered like so: `shrt-ge5-Typography-Heading`.

Now that Stylesheets are in their own `style` tag there is no longer a need to do that and the stylesheet id can be removed: `

[2020-03-18 17:46] chanan commented on #58
Going to close this, because it is unlikely to be doable and there is a work around of either using `@()` or defining a function in the component

[2020-03-18 17:46] #58 closed

[2020-03-19 06:38] nicucomiati990 opened #80 "Generated class names"
Is there a way to control the generated class names? I would prefer having an understandable class instead of it being all generated. I saw this on blazorstyled.io and thought that it might be possible.

[2020-03-30 19:21] chanan commented on #80
Sorry, I didnt see this till now.

BlazorStyled (like Glamor, Glamorous and Emotion in the JS world) control the class name to work. However you can add a label to the css that will be appended to your classname:

[code]

This will generate a class with the words "-some-label" appended at the end of it.

[2020-03-30 19:21] #80 closed

[2020-03-30 19:23] chanan opened #81 "Append more rules to a class"
This should be possible:

[code]

[2020-03-31 20:34] chanan opened #82 "Simplify getting child content"
It might be possible to remove almost all the code that gets the child content (RenderFragment) - and use a simplified version

[2020-04-04 22:48] #82 closed

[2020-04-06 00:40] chanan opened #83 "Is it possible to remove in memory storage of stylesheets?"

[2020-04-06 00:41] chanan commented on #75
This most likely won't work

[2020-04-06 00:41] #75 closed

[2020-04-08 01:41] chanan opened #84 "Update documentation"
- The div / button example is old and should be updated in "The Basics"
- Nested selectors examples should include the `@code` section

Do a check of all other pages.

[2020-04-10 08:57] Rogardo opened #85 "IStyled.Css is not working"
I used your example code from Docs at my BlazorServer sample Counter component. But I was not able to bring this to work.

with the html tag <Styled></Styled> it works general

[code]

[2020-04-10 12:03] chanan commented on #85
It should work as PrettyCode uses the API and it works. I am about to release a new version in. Few dad though so I will double check this specific snippet before I release

[2020-04-11 03:02] chanan opened #86 "V3.0.0 to be released the weekend of June 6th"
Some breaking changes are coming in the next version. This only matters if you use the API. If you are using the `<Styled>` nothing changes

- *Global Styles:* Set and Get global styles signature is changing
- Almost all methods will become async

**Update:**

As of 3.0.0-alpha-04, all functions have both sync and async versions, thus not breaking backward compatibility.

For example, `IStyled.Css

[2020-04-11 15:20] VR-Architect opened #87 "Add if/then support?"
Hey, your tools is quickly becoming my good friend and love it. I came across a scenario you may consider adding? Can we get the ability to use if/then statements

`
<Styled>
.nav-item:hover {
    @if (IsGradiant)
    {
        background: linear-gradient(to bottom, @props.HoverStyle.Color2 0%, @props.HoverStyle.Color1 100%);
    }
    else
    {
        background-color: @props.HoverStyle.Color1;

[2020-04-11 15:35] chanan commented on #87
Hi!

Glad you are liking BlazorStyled!

I am on the mobile right so can’t try it, but here are a few thoughts: (when I get to the computer I will try it out)

1. Off hand it looks like it should work - ultimately the Styled tag grabs the stuff inside of it as a string. From the examples on the site we can see that simple variables work (color white on the home page example)

2. If it does not work

[2020-04-11 15:59] VR-Architect opened #88 "Dynamic Id or Class names?"
Here is another feature request :)

It would be great if we could dynamically set the id or the class name? In my scenario I am dynamically setting an Id for a component and storing the CSS values into a database.  The page that presents the component could present multiple instances of the component. Each component has a different Id with different CSS values but the same CSS structure.

Example:

[2020-04-11 16:01] VR-Architect commented on #87
Thanks for checking. Once we get the application up and running I will definitely send you the URL.

[2020-04-11 17:57] chanan commented on #88
That should work. But I will check to make sure later today

Another option though would be:

[code]

I think should do what you want

[2020-04-11 22:16] chanan commented on #87
Hi @VR-Architect

I got it working. Had to add `<text></text>` to tell the compiler that the line inside the block is to be considered html: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-3.1#explicit-delimited-transition

Here is the sample code (I changed it a bit so to make it easier to test, but its the same basically):

[code]

The output when IsGradiant is true:

[2020-04-11 22:19] chanan commented on #88
@VR-Architect Did my suggestion of using Classname in the styled tag work for you? If not, if the issue is a compiler error like in #87 then will adding `<text></text>` work? If the answer to both of those are "no", then I need a code example of what you want to do.

[2020-04-11 22:22] chanan commented on #85
Verified to be working in V3.0 code base

[2020-04-11 22:22] #85 closed

[2020-04-11 22:23] chanan commented on #83
Done in V3

[2020-04-11 22:23] #83 closed

[2020-04-11 22:23] chanan commented on #79
Done in V3

[2020-04-11 22:23] #79 closed

[2020-04-11 22:24] chanan commented on #32
Done in V3

[2020-04-11 22:24] #32 closed

[2020-04-11 22:27] chanan opened #89 "Way to define Stylesheet priority"
Sometimes a stylesheet needs to be before all others.

Default style sheet is currently set to be last. But a stylesheet like BlazorTypography that includes normalize needs to be the first one.

[2020-04-11 23:14] #89 closed

[2020-04-14 11:35] esso23 opened #90 "Media Queries compile error"
Can't compile project when using media queries. Am I doing something wrong?

Code:
[code]

Error:
[code]

Based on docs: https://blazorstyled.io/media

[2020-04-14 11:38] chanan commented on #90
Because the @ sign is the razor symbol, you need to “encode it” by putting two @ signs: `@@media`

[2020-04-14 11:41] esso23 commented on #90
Oh, thanks. Will you update the docs or can I close the issue?

[2020-04-14 11:56] chanan commented on #90
I will close it. I have an issue already open to review all the docs for accuracy when I publish the next version

[2020-04-14 11:57] #90 closed

[2020-04-14 12:31] esso23 opened #91 "Exception in 3.0.0-alpha2"
Happens all the time in my setup after upgrading from 2.2.0 (when I go back to 2.2.0, everything works fine).
Using server-side blazor. App component is `ServerPrerendered`.

Raw1:
[code]
Raw2:
Note: the mentioned style is basically the first style that is present in my code.
[code]

[2020-04-14 13:00] chanan commented on #91
Not surprised. Please don’t use the alpha version of 3. It’s not ready yet

[2020-04-14 13:53] VR-Architect commented on #86
I upgraded to v3a2 from v2.5a1 and have error in browser window. If I role back to v2.5 code works. I am only using <styled>

[code]

[code]

[2020-04-14 13:58] chanan commented on #86
The alpha v2 version does not have the full functionality working yet.

Your best bet is to stay on the released version for now. If you really want to try it out, I can make a new version (alpha-03) that has the full set of functionality, but be aware if you use lots of theme variables (SetThemeValue) it will be slow.

[2020-04-14 14:09] VR-Architect commented on #86
I can wait. Just wanted you to know :)

If you need a tester with real project, please let me know.

[2020-04-14 14:13] chanan commented on #86
I will! When I have a real one that fully works and is not slow I will post it! I just got everything working (again) last night, that's when I noticed it was slow (weirdly only on CSB, not on SSB). Haven't figured out yet how to find where the slowness occurs (Although I suspect it has to do with the way it does Themes now as well as I think it is re-adding the same CSS rules multiple times) - So

[2020-04-14 21:34] chanan commented on #86
@VR-Architect if you want to try V3.0 here is a slightly better version: https://github.com/chanan/BlazorStyled/releases/tag/v3.0.0-alpha-01 - Note the slowness in CSB mode might still be present in this build. Still working on it.

[2020-04-15 21:37] chanan commented on #91
Going to close this for now. Alpha 3 should be closer in functionality to RC, but I still would avoid using it for now :)

[2020-04-15 21:37] #91 closed

[2020-04-15 21:38] chanan commented on #86
Found the reason for the slowness in CSB. Apparently Regex runs REALLY slow on Mono (CSB). Might need to remove the Regex

[2020-04-19 20:50] chanan commented on #86
V3.0.0-alpha-04 is out which fixes the slowness of CSB if you want to give it a try.

[2020-05-04 14:55] ofrades opened #92 "[Question] How do you modify the body tag?"
Can you explain how do you managed to have the dark/light mode in your samples working? Is something to do with changing the body tag?

[2020-05-04 15:13] chanan commented on #92
The theme switcher works using BlazorStyled themes. Yes, it changes the body tag. Here are the relevant sections of code:

In MainLayout.cs https://github.com/chanan/BlazorStyled/blob/master/src/SampleCore/Shared/MainLayout.razor#L10-L24

[code]

Those are the styles I am changing. There is another one later done the file for p > code.

In the same file https://github.com/chanan/BlazorStyled/blob/

[2020-05-05 06:08] ofrades commented on #92
Thanks and congrats on the very nice library.

[2020-05-05 07:54] ofrades commented on #92
Can I use it with other libraries like BlazorStrap? And if so how do the styles using BlazorStyled override the one coming from BlazorStrap, which I think in the bottom are using the bootstrap cdn?

I am able to dynamically change the background but when using it mixed with the bootstrap cdn nothing happens because the bootstrap cdn have priority somehow.

[2020-05-05 08:53] ofrades commented on #92
[code]

[2020-05-05 08:53] #92 closed

[2020-05-05 23:44] chanan commented on #92
Yes, you can use BlazorStyled with BlazorStrap (or any other library). In fact if you look at https://blazorstrap.io - the code snippets is done with BlazorStyled, specifically using BlazorPrettyCode (I am not very good naming things).

[2020-05-10 18:55] TheCyberCore opened #93 "AddBlazorStyled() exception in ASP.NET Core blazor server project"
Hi,
I ran in a little issue with the latest version of this library with .NET Core 3.1. The project was generated with the Visual Studio 2019 wizard. When adding the service via AddBlazorStyled() in Startup.ConfigureServices() the following exception occurs.

As IStyleSheet and its implementations are internal elements of BlazorStyled, I am also not able to add the DI object manually.

I think thi

[2020-05-10 19:22] chanan commented on #93
I haven’t seen this issue. I do test both on client and server side projects.

The current master branch of the project doesn’t have that class anymore - as well as the preview release in Nuget. Could you zip up the project and attach it or post it on github and I can take a look?

[2020-05-11 03:11] TheCyberCore commented on #93
I created a minimum test project. The error occurs when trying to get access to IStyled in Startup.Configure().

[BlazorStyledTest.zip](https://github.com/chanan/BlazorStyled/files/4607378/BlazorStyledTest.zip)

[2020-05-11 03:11] chanan commented on #93
Thanks! I will take a look tomorrow evening

[2020-05-11 03:14] TheCyberCore commented on #93
Thank you :)
I now also tested the latest preview 3.00 alpha 5 and the error still persists but changed slightly.

[2020-05-11 03:24] chanan commented on #93
Took a quick look. Remove the line in `Startup.cs` -> `Configure` method: `IStyled styled = app.ApplicationServices.GetRequiredService<IStyled>();`. Once you do that, you can use it in Inde.razor (or where ever) either by using the `<Styled />` tag or if you want to use the API you can use: `@inject BlazorStyled.IStyled Styled`

[2020-05-13 20:50] chanan commented on #93
@TheCyberCore were you able to get this working?

[2020-05-14 01:30] TheCyberCore commented on #93
@chanan Yes, thank you. This works. But it does not really fit in my app, because the theming variables should be active before the first razor subpage loads. I also tried to initialize the theming within the razor root page/layout page, but the injection seems to work only on sub-page level.

[2020-06-01 03:37] imtrobin opened #94 "Document formatting issues"
Hi, reporting documentation formatting issues

![image](https://user-images.githubusercontent.com/531606/83373784-1f462c00-a3fc-11ea-8346-fb1732adaf37.png)

There are few other which makes it looks confusing.

[2020-06-05 12:19] imtrobin commented on #92
Ok, I have follow up question. If I want to add another class, like this

[code]
XXXTest color should be from red, right? But it's not working.

[2020-06-05 15:36] imtrobin opened #95 "Set class on html not working"
Hi, I'm using BlazorStyled with MatBlazor, I could style like this fine

[code]

But I could not get it working like this

[code]

I could get it working on body and using classname so blazorstyled is setup correctly.

[2020-06-05 16:02] imtrobin opened #96 "Feature: GetThemeValue"
Hi, I can suggest add a IStyle.GetThemeValue (string)

I need to retrive it for theming with other libraries.

[2020-06-05 16:06] chanan commented on #95
That's odd, it *should* work.

What version of BlazorStyled are you using?

Do you have BlazorStyled in development mode? If so, in DevTools you should be able to find the style tag in the head and look inside of it (it should be something like `<style blazorstyled-id="DEFAULT">...</style>`) - do you see you class in there correctly?

Lastly, in DevTools, regardless of development or not, you shou

[2020-06-05 16:08] chanan commented on #96
Hi, I believe that exists, but also in the upcoming release the interface to get that changed a bit (hence the major version bump).

In addition, I plan to revamp all of themes in the future, just haven't figured out what I want to do yet

[2020-06-05 16:09] chanan commented on #94
Yes I know about it.

I never found a good way to parse CSHTML (tried a bunch of ways), so I wrote my own parser, which has the above bug. I need to fix it at some point, but haven't gotten to it yet.

[2020-06-05 16:11] chanan commented on #86
V3.0.0 will be released this weekend.

[2020-06-06 01:45] imtrobin commented on #96
the only one I see is GetThemeValuesAsync, which is retrieving as a IDictionary.

There is GetGlobalStyle (string name) but not GetThemeValue (string name)

[2020-06-06 01:49] chanan commented on #96
In the alpha of 3.0.0 that is on nuget (It is possible that maybe the current one on nuget doesnt have it?)
[code]
v3.0.0 will be released this weekend - you should be good once that is released.

[2020-06-06 01:54] imtrobin commented on #96
I'm using the source code directly.
![image](https://user-images.githubusercontent.com/531606/83933501-a4a25580-a7db-11ea-8f68-c02235936925.png)

No worries, will wait for it, its weekend for me already.

[2020-06-06 01:55] chanan commented on #96
Sorry about that, must not have pushed to nuget for a while

[2020-06-06 02:29] imtrobin commented on #95
3.0.0 Alpha 7

Repro here. Look at Header.razor

https://filedn.com/l3TGy7Y83c247u0RDYa9fkp/temp/code/TestBlazorStyledWithMatBlazor.zip

[2020-06-07 04:44] imtrobin opened #97 "Throw if theme is not set"
Hi, currently it is not reporting any error if the theme it not specified e.g

[code]

If I use the csharp API, it will throw theme.ThisDoesNotExist but on the html tag, no error is reported, and it's very hard to spot the error.

[2020-06-07 13:17] Deckweiss opened #98 "Slow CSS after reloading."
I tried using BlazorStyled to have a clearer thought process and workflow so far, but I'd like to keep using it so that I can easily parameterize things such as background color etc. for reusable elements. So far there is a huge delay between the page load and the css being applied to the components.
Video example: https://gofile.io/d/SiaFXq
Note how there are multiple steps of the css being loade

[2020-06-07 13:25] Deckweiss commented on #98
ExpandableInfoBox.razor

[code]

utilities.js

[code]

Example use of the component:

[code]

[2020-06-07 18:27] chanan commented on #98
Hi,

Thanks for using BlazorStyled!

Here are a few tips:

1. First of all, update to v3 when it gets released in a hour or so. I did a lot of work on allocations which will help speed up BlazorStyled especially in WASM mode. I plan to keep this work up in the following weeks in months
2. Make sure you are running in development: false when looking at speed, it should be slightly faster (Version 2

[2020-06-07 18:30] chanan commented on #97
This won't be included in v3. I need to think about this and see if this should throw or leave it as is. The reason leaving it as is could be correct, is the order of operations, in that the theme value is not set yet, but it will "eventually" - and when it does, the background color (in your example) will get set.

[2020-06-07 18:35] Deckweiss commented on #98
I forgot to mention - I am using 3.0.0-alpha-07

Can you elaborate a bit on point 2. ? Does it mean that speed of the app is significantly different and in the order of published > development > debug. Or am I misunderstanding something?

Thanks again for taking time and your amazing work!

[2020-06-07 18:44] chanan commented on #98
There are two variables you pass it to `AddBlazorStyled()`

- debug: true/false - when true, it will out some console.log info to the DevTools console. Set this false in prod.
- development true/false - when true, BlazorStyled will output your css as a "string" between a `<style>...</style>` tag in the head. When false, it uses `insertRule` on `<style />` (https://developer.mozilla.org/en-US/docs/

[2020-06-07 18:58] Deckweiss commented on #98
When running with `development: false` it is significantly faster. But you still see all the loading steps (maybe for just one frame). But I think I what also contributes greatly to the inconsistent look is the transition that gets applied when the css gets added - which makes the element look like it is growing.

When taking the transition out of the css, you can still see the process of the css

[2020-06-07 19:04] chanan commented on #98
When more thing you can try to help with that is to hide your div till the CSS is loaded. I started adding that directly into `BlazorStyled` but haven't gotten it right yet since it is very dependent on the actual situation and doesnt always work right (Transitions is one of those that might not work). Here is an example:

1. in razor page: https://github.com/chanan/BlazorSlides/blob/master/src/Bl

[2020-06-07 19:13] Deckweiss commented on #98
Thanks for the great pointers, I think I can work with that, I was thinking about adding a loading screen anyway and this approach seems perfect for that.

I wish you success with the release!

[2020-06-08 01:08] imtrobin commented on #95
I figured out what's wrong. The doc says we don't need !important, but we need that here. The css version doesn't need that though.

[2020-06-09 09:16] Deckweiss commented on #98
Here is a video showing the comparison between how it was before and after adding the loading screen workaround https://gofile.io/d/t2zPLC

I had to use `await Task.Delay(600);` in the OnAfterRenderAsync Task.
It is not a very neat solution, because I use a hard coded delay, so that the transition animation would stop playing. But so far I am happy with this workaround.

[2020-06-09 11:36] #98 closed

[2020-06-10 01:17] imtrobin opened #99 "Initialized issue"
Hi, I have a issue using BlazorStyled for themeng, I described in more detail here

https://stackoverflow.com/questions/62294319/blazor-two-js-interop-which-depend-on-each-other

The issue is SetThemeValueAsync is running a JS interop, and has delay. The SetThemeValue is just wrapping Task, and does not block.

Is there another way for it to be setup?

[2020-06-10 01:20] chanan commented on #99
I suppose the theme values could be saved in c# and later transferred to JS.

Let me look at your stack overflow and see what the issue is though. Can’t get to it tonight but I will try to look tomorrow.

[2020-06-16 10:56] esso23 commented on #3
This issue is actually pretty important. I had to switch from isolated classes (bind-classname) to global styles, because the components first got rendered without styles and then got rerendered. This not only looks unprofessional, but it also degrades perfromance since there is a lot of rerendering on the client side in the browser.
This is mostly visible when rendering longer lists of components

[2020-06-16 13:23] chanan commented on #3
V3 series is a bit faster and also tries to figure out if the style didn't change. Also, there are a few tricks you can use  to reduce the first flicker (such as wrapping a div with a style visibility: none till all the styles finished rendering).

Regarding actually pre rendering CSS - I honestly have no idea how to do this at this time. I am also not sure how React libraries do this such as Gats

[2020-06-16 14:57] esso23 commented on #3
OK thanks, I'll try that.
Also, I'm not sure if you're aware, but there's this issue in Blazor repo https://github.com/dotnet/aspnetcore/issues/10170
and this tag
https://github.com/dotnet/aspnetcore/labels/feature-blazor-css-isolation
They plan to release it in preview7 of Blazor.
Should be worth monitoring.

Also not sure if helpful but you can look into Skclusive's library and how he handles st

[2020-06-16 15:50] esso23 opened #100 "GlobalStyles docs"
https://blazorstyled.io/globalStyles
`@Styled.GlobalStyles["ColorHotPink"]` no longer available in v3.
Should be replaced with `@Styled.GetGlobalStyle("ColorHotPink")`

[2020-06-16 16:00] esso23 opened #101 "Media Queries not working after upgrade to v3"
Example class:
[code]

When I inspect it in Chrome the styled div looks like this
`<div class=" "> ...` (There's space instead of class)

[2020-06-16 16:09] chanan commented on #101
I will check it out right away, sorry about that

[2020-06-16 16:10] #86 closed

[2020-06-16 16:12] chanan opened #102 "V3.0.0 Important Please read!"
There is an issue with v3.0.0 that I have not been able to fix yet.

If you are using it by itself and you have no issues, you can ignore this.

When trying to add it to other libraries that use BlazorStyled, I ran into an issuse in compiling / linking where the project won't compile with an error message regarding System.text.json versions. Still haven't figured out the cause.

[2020-06-16 16:37] chanan commented on #101
@esso23 Did that syntax work prior to V3? If so, I will need to work on getting it back up and running again. In the meantime you can use the following syntax:

[code]

The `&` will be replaced by the dynamic name of the class

[2020-06-16 16:38] esso23 commented on #101
Yes, it worked with 2.2.0.
Thanks, I'll use this in the meantime.

[2020-06-16 21:16] haydar-metin opened #103 "Css Priority"
Hey,

currently the `generated stylesheet` is inserted as the first child of `head`, however shouldn't it be inserted as the last child?

For example, if we have different stylesheets already loaded like bootstrap in the `head`. Then the `generated stylesheet` would still be the first child in the head and based on the precedence of css, bootstrap would override `blazorstyled`, if both wanted to c

[2020-06-16 22:13] chanan commented on #103
Currently there isn't a way. I a bit concerned about always putting as the last change as well, because then there is no way to override anything that is generated. I am open to suggestion on how to best handle this...

[2020-06-16 22:14] chanan commented on #100
I haven't been able to update the docs site due to: https://github.com/chanan/BlazorStyled/issues/102

[2020-06-17 03:07] pgrm commented on #103
@chanan @haydar-metin isn't this what the `data-blazorstyled-priority` attribute is for? - https://github.com/chanan/BlazorStyled/blob/30b23f61e8510f9b3af2e47bf9525c271f6d4939/src/BlazorStyled/Internal/Scripts.js#L145 - it seems like you can already now define a simple element in the header (even a `<style data-blazorstyled-priority="1"></style>` should work)

This seems to be [new in 3.0 alpha 3]

[2020-06-17 03:09] chanan commented on #103
Close, but The priority attribute helps only within BlazorStyled itself. So if you have several style sheets (WithId) you can order them.

It doesn’t help for style sheets outside of BlazorStyled.

[2020-06-17 03:40] pgrm commented on #103
@chanan excuse my ignorance here, but looking at at the method `getOrCreateSheet` alone (and that might very well be the problem), could you please give me a hint, how that would differ? The way I read the method:

- if it finds any element with `data-blazorstyled-priority` attribute lower than the current priority, it appends below
  - it actually appends it below the first element of lower prior

[2020-06-17 03:48] chanan commented on #103
The issue is this, I think:

if (!found) {
        head.insertBefore(styleEl, head.firstChild);
}

Which would be the most common case when there is only one BlazorStyled sheet. That always means that BlazorStyled will be the first stylesheet, so you can never override existing styles.

What I think we want is to allow the developer to append the style sheet to the end of the head when they choose

[2020-06-17 04:07] pgrm commented on #103
but you are setting found to true, once you've found a "matching" element:

https://github.com/chanan/BlazorStyled/blob/30b23f61e8510f9b3af2e47bf9525c271f6d4939/src/BlazorStyled/Internal/Scripts.js#L168

and the condition for a "matching" element is simply

https://github.com/chanan/BlazorStyled/blob/30b23f61e8510f9b3af2e47bf9525c271f6d4939/src/BlazorStyled/Internal/Scripts.js#L164-L167

this can

[2020-06-17 04:14] chanan commented on #103
I am on my phone but I will try it tomorrow. Are you saying do something like this:

<head>
<style src=“my-base-styles.css”></style>
<style data-blazorstyled-priority=“-1”></style>
<!— BlazorStyled sheet will go here due to the line above —>
</head>

Yep that does sound like it will work, great idea!

[2020-06-17 11:28] esso23 commented on #101
It still does not work. This is the class I'm currently trying this on:
[code]

[2020-06-17 12:22] esso23 opened #104 "v3 performance"
Just did some tests on existing code with v3.0.0 and it turns out that v3.0.0 is several times slower when loading than v2.2.0.
I'm trying this on long lists of components with lots of nested components (in standard cases when there are not many classes it's working ok).
I'm only using @bind-classname approach.

The components also load a lot of stuff from services and it seems like in v2.2.0 styl

[2020-06-17 12:23] chanan commented on #104
That is really unexpected. Are these tests in a format you can hate with me?

[2020-06-17 15:46] esso23 commented on #104
Sadly I can't share the code since it's a commercial product and reproducing it would be quite time-consuming.
Anyway, I played with profiling a bit and I traced the problem to CssAsync method (#1 CPU killer) and then to this line:

https://github.com/chanan/BlazorStyled/blob/30b23f61e8510f9b3af2e47bf9525c271f6d4939/src/BlazorStyled/Internal/StyledImpl.cs#L42

In sync version you call Task.Run whi

[2020-06-17 16:25] chanan commented on #104
Would it be correct to assume that you are using the `<Styled>...</Styled>` tag?

[2020-06-17 16:32] esso23 commented on #104
Yea, my only use case is this:
[code]

I'm not using any other features of BlazorStyled anywhere in the code.

[2020-06-17 16:41] chanan commented on #104
So I was going back and forth about whether `<Styled />` should use the await the call to the javascript or not. Initially, (in some of the V3 alphas) I had it the other way around where it would just "fly" through the commands and return right away. I ended up going with the await because it help reduce "flicker" on load because you can hide your screen till all commands are done. But you are cor

[2020-06-17 17:34] esso23 commented on #104
You can use ContinueWith() where you can trigger an event to show the component when the task finishes or "subscribe" to task completion in some other way.
IMHO, having longer load times just to remove the "flicker" is a hack, or workaround at best, but not a proper solution.

[2020-06-17 17:36] chanan commented on #104
Either way, I would prefer not to change the `<Styled />` back to not awaiting. So will adding an attribute like mentioned above work for you?

[2020-06-17 17:47] esso23 commented on #104
Hm, what I'm trying to say is that the current solution is not good and adding an attribute is not going to make it better. Making the methods async is good, but the fact that it makes the library slower is a big problem, since loading speed is an extremely important thing on web (if not the most important).
So again, I think the solution is to not await that particular method at that particular p

[2020-06-17 18:25] esso23 commented on #104
Just to paint the picture of what's the difference in my case. I measured the time since I hit the refresh button in the browser until everyhing gets rendered correctly:
Without the await on that 1 line:
2.5 seconds
With the await:
6 seconds
That's on the page with highest amount of components in my current app (which isn't that crazy). The difference will get worse as the amount of components get

[2020-06-17 18:42] esso23 commented on #104
Also, is it documented somewhere how to hide the component until all the styles are loaded?

[2020-06-17 18:54] chanan commented on #104
I will answer the documentation piece first, its not documentated yet because I there is an issue with the docs site (and V3.0.0 in general that I posted here: https://github.com/chanan/BlazorStyled/issues/102)

In V3, the call is async because it calls out to Javscript.
In V2, there was no call to Javascript, but had its own issues - such as needing to change the `_host.cshtml` which caused probl

[2020-06-17 19:02] esso23 commented on #104
`IStyled.CssAcync` is just as fast ass `IStyled.Css` if I remove the await. So it's not about using async/sync methods, it's only about the blocking of `OnAfterRenderAsync` method on call to JS.
I'd like to see the implementation of the "hiding until styles loaded" so that I can play around with it and maybe I'll be able to come up with something. I would appreciate if you could provide some code

[2020-06-17 19:10] chanan commented on #104
It's still a work on progress but I started working on this here: https://github.com/chanan/BlazorStyled/blob/master/src/SampleCore/Shared/MainLayout.razor#L176-L183

[2020-06-18 14:24] haydar-metin commented on #103
Thanks for the hint, using `<style data-blazorstyled-priority=“-1”></style>` as the last entry works!

[2020-06-18 14:24] #103 closed

[2020-06-18 14:26] chanan commented on #103
Thanks @pgrm for the idea! I will document as soon as I fix #102

[2020-06-18 17:15] chanan commented on #3
@esso23 By the way, this can also be done manually. I will admit I haven't tried it (yet) myself, but I see no reason why it shouldnt work.

If you start up your app, and you visit each page in your site that would likely generate CSS (i.e. any component that uses `<Styled />`) and then go in DevTools and grab the resulting `<style>` tag, you should be able to save that in and put in the head of y

[2020-06-19 01:34] chanan commented on #102
I opened an issue in the aspnetcore repo: https://github.com/dotnet/aspnetcore/issues/23126

[2020-06-21 12:51] imtrobin commented on #102
I usually use the source code versions so I can change the dependencies versioning to avoid these kind of problems

[2020-06-23 13:37] chanan commented on #102
@imtrobin Since I am not sure where that is coming from yet, you might have the same issue in the source version, but if you havent run into it yet, you are (hopefully) fine.

[2020-06-24 21:59] mooski opened #106 "Styles don't render on the server in a Blazor server application"
There's no mention that this isn't supported, so I assume this _should_ work, but I could be wrong.

When using Blazor server, styles don't render on the server itself, but rather they get rendered on the client after the framework has loaded.

This is problematic if you're using `ServerPrerendered` render mode because the app initially appears unstyled until the framework loads after a short whil

[2020-06-24 22:01] mooski commented on #106
I think this is a duplicate of #3 - apologies.

I still think it would be worth mentioning this limitation in the docs though - this is unfortunately a showstopper for me, and I'm sure it would be for some other people too.

[2020-06-24 22:01] #106 closed

[2020-06-24 22:24] chanan commented on #106
Hi,

Glad you like BlazorStyled!

All Blazor application require JavaScript to be running, so this assumed. Although on the future I would love to have the option to pre render the “base” styles, but that is still far away

[2020-06-25 18:00] esso23 opened #107 "Rerendering of component with multiple classes"
Let's say we have a component called <`MasterComponent>`. This component has style definitions within declared using `<Styled @bind-Classname>`.

When the component has a single css class defined in it, the component's OnAfterRender method is called twice, which is standard. Also the `<Styled>` component's OnAfterRender is called twice. This is fine.

When you have 2 css classes, each class gets r

[2020-06-25 18:11] chanan commented on #107
I agree that is the issue as well. I think the same problem should occur in v2 (and 1) as well.

I did my best to make the impact smaller. The first thing BlazorStyled does is get a hash of the string and stops if it saw that hash before. But even this takes time (and allocations).

I am not sure there is any way to “fix” this (I put fix in quotes because this is an expected behavior of Blazor.

I

[2020-07-26 09:27] mifopen opened #108 "BlazorCss doesn't work"
I think because of the lack of Components rendering in `RenderFragmentExtensions.RenderAsSimpleString`

[2020-07-26 19:52] chanan commented on #108
Ah ok. Didn't think anyone needed that, but it can be added back in, shouldn't change the speed since most cases will just skip that code.

[2020-08-21 13:02] Cedware opened #109 "Nested selectors do not work if they are the only rule"
I have to **Styled**-Elements in my source code:

[code]

If the field **_edit** is set to **true**, _display: none_ should be applied to the descendant with the class name **ant-card-body**, which is not happening with the code above. But when I add another rule to the first **Styled** element it suddenly works as I expected it to:

[code]

[2020-09-24 15:19] qin-guan opened #110 "Support for .NET5-rc1 Fields on RenderTreeFrame breaking change"
When running BlazorStyled in .NET5-rc1, I experience the following issue:

[code]

A search brought me [here](https://github.com/aspnet/Announcements/issues/438), where it was written:

#### Old behavior
Public members on RenderTreeFrame were defined as fields, for example renderTreeFrame.Sequence and renderTreeFrame.ElementName.

#### New behavior
Public members on RenderTreeFrame are defined as

[2020-09-24 15:23] chanan commented on #110
Thanks for the report, we did not convert the project yet to .net5, so it's not a surprise that things are breaking in .net5. We will address this when we convert over to .net5.

[2020-09-24 15:23] qin-guan commented on #110
@chanan thanks for the quick reply, do you have a rough timeline on when that would be?

[2020-09-24 15:25] chanan commented on #110
I wasn't planning on it till it gets released, but if people are using this library and are stuck due to this, I will try to do it sooner. Of course, if you feel up to it, feel free to send a PR, which will increase the speed this gets done at

[2020-09-25 14:03] qin-guan opened #111 "[enhancement] Throwing error when there is parsing issue in style"
For example, when using the following as a style,

[code]

it would throw a parsing error due to `[Spacing.Md)px`

I believe this would save a lot of time during debugging (just spent 1.5h looking for the `)`)

I'm not sure if there is anything for this yet, but no errors were thrown when I ran the program

[2020-09-25 14:24] chanan commented on #111
Hi,

I will try my best to surface that information. It all depends on what I get back from where ever the error is thrown. I will let you know either way.

[2020-09-26 02:39] #102 closed

[2020-09-26 03:11] chanan commented on #110
@qin-guan I created a branch for .net 5: https://github.com/chanan/BlazorStyled/tree/net5rc1
I was not able to run web assembly - some missing file error, but I was able to run server side without a problem. I am not currently sure what the error you are seeing is. But once I figure out why cleint side isnt working, I will create a build as 4.0.0-alpha-01

[2020-09-26 06:24] qin-guan commented on #110
@chanan thanks! do you think u could copy the error here? i've been having some issue running blazor wasm as well.

[2020-09-26 16:09] chanan commented on #110
I am missing some setting somewhere, just not sure where. I am not getting a compile error, it just wont run.

If I "run" I get a blank browser with the address not filled in. If I "run without debugging" - I get an error in the browser that it can't find `_framework/blazor.webassembly.js`

Checking the bin folder it doesnt have the wwwroot folder in it. Comparing it to a blank .net blazer wasm pr

[2020-09-26 19:08] bryfa opened #112 "How to combine Styled with existing classes like those defined in Bootstrap?"
`.myclass.card {
    background-color: red;
    .card-img-top {
        width: 20rem;
       /* other nested settings */
    }
}

<div class="myclass card">
    <img class="card-img-top" src="http://..." alt="some image">
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <p class="card-text">Text</p>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>

[2020-09-29 00:32] qin-guan opened #113 "Using GetThemeValue causes program to stop responding"
when using `Styled.GetThemeValue("value")`, the project would compile and run, but would not respond to any requests. this is on blazor server, i have not tested if the same result also happens on blazor wasm.

is `GetThemeValue` meant to be used, since it is not in the documentation?

i am trying to change theme values during runtime, for example:

Component.razor
[code]

however, it appears that

[2020-09-29 00:40] qin-guan commented on #113
please ignore my initial comment, not sure why but it suddenly decided to work, i have updated my comment

[2020-09-29 01:12] qin-guan commented on #112
[code]

is this what you are asking?

[2020-11-14 17:01] qin-guan commented on #110
@chanan have you been able to get .NET5 working, since it has been just released?

[2020-11-14 17:03] chanan commented on #110
I plan to work on this weekend. Hopefully shouldn't have major issues

[2020-11-16 18:41] chanan commented on #110
I just pushed: BlazorStyled.3.1.0-rc1 compiled in net5.0

[2020-11-17 03:45] qin-guan commented on #110
i can verify that 3.1.0-rc1 works with .net5

[2020-11-17 20:49] chanan commented on #112
@bryfa Did qin-guan's answer help you?

[2020-11-17 20:49] chanan commented on #110
Released 3.1

[2020-11-17 20:49] #110 closed

[2020-11-19 11:26] bryfa commented on #112
Sorry for the late answer. Yes it did help me, thanks!

[2021-05-16 03:04] sanchez commented on #99
I have encountered the same issue, I was able to work around it by disabling ServerPrerender and changing from using OnInitialized to OnInitializedAsync, finally make sure to call the base OnInitializedAsync first before you set your theme values

[2021-05-29 12:26] sanchez commented on #74
Is there a way for me to apply a global style to everything based on a selector? For example could I set a global style for all anchor tags?

[2021-05-30 08:26] sanchez opened #114 "Inherit Styles"
Heyo, is there a way for a styles to be inherited from other styles? I am currently looking at doing a button type control which has a base styling, and then either a primary or secondary styling based on some parameters supplied. My current method of thinking is to have separate styles for base, primary, and secondary, then have a get property that just toggles between the classnames based on the

[2021-10-26 00:05] DataJuggler opened #115 "Could you explain to me how to use the PsuedoClasses.Hover please?"
My first reaction is this doesn't work, but most likely I don't know how to use it.

I created a new site that uses BlazorStyled:

Blazor Excelerate - Code Generate C# Classes From Excel Header Rows
Code: https://github.com/DataJuggler/Blazor.Excelerate
Live Demo: https://excelerate.datajuggler.com

I tried several ways to turn a link color orange on hover, when I have this class:

<Styled @bind-C

[2021-11-01 22:00] chanan commented on #115
The example on the homepage of https://blazorstyled.io use Hover to change the color of the text to white. Does that not do what you were expecting?

[2021-11-01 22:52] DataJuggler commented on #115
I will try it again as soon as I get a chance. I am pretty sure that is what I tried.

Thanks for the reply

From: Chanan Braunstein ***@***.***>
Sent: Monday, November 1, 2021 5:00 PM
To: chanan/BlazorStyled ***@***.***>
Cc: Corby Nichols ***@***.***>; Author ***@***.***>
Subject: Re: [chanan/BlazorStyled] Could you explain to me how to use the PsuedoClasses.Hover please? (Issue #115)

The exampl